.container {
    width: 100%;
    min-height: 100vh;
    background: #111315;
}

.main {
    display: flex;
}

.chart1 {
    display: flex;
    width: 100px;
    height: 100px;
}

canvas {
    width: 200px;
    height: 200px;
}