.container {
    background-color: #111315;
}

.main-container {
    display: flex;
    justify-content: center;
    padding: 100px;
    padding-left: 400px;
    padding-right: 400px;
}

.main {
    display: flex;
    flex-direction: column;
    background-color: #111315;
    min-height: 120vh;
}

.main h1 {
    color: white;
    font-size: 48px;
}

.thumb {
    position: relative;
    top: 80px;
    width: 100%;
    height: 600px;
    background-color: black;
}

.thumb1 {
    background: url(../img/flag2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.thumb2 {
    background: url(../img/fmplanch.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.thumb3 {
    background: url(../img/flagpole.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.tags {
    color: #6A3EF0;
    letter-spacing: 2px;
}

.title {
    position: relative;
    top: 10px;
}

.writer {
    position: relative;
    top: 40px;
    color: #cfcfcf;
}

.font {
    font-size: 12px;
    position: relative;
    top: 90px;
    color: #cfcfcf;
}

.article {
    font-weight: 100;
    color: #cfcfcf;
    position: relative;
    top: 120px;
    font-size: 20px;
    text-align: justify;
}